header, footer { 
    background-color: #efb9cb; 
    padding: 10px; 
  } 
   
  main { 
    padding: 10px; 
    background-color: rgb(255, 200, 230); 
  } 
   
  .post { 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px;
    margin-top: 10px;  
    display: flex; 
  } 
   
  .post img { 
    margin: 5px; 
  } 
 
   
  #nav a:hover{ 
      color: rgb(255, 255, 255); 
      background-color:#fac2d5 ; 
      border: 7px #cf8aa1  solid; 
  } 
  .your-class img{ 
      width:400px; 
      height:500px; 
flex-wrap: wrap; 
  }
.comment {
background-color: white;
padding: 20px;
border-radius: 10px;
margin-top: 10px;
 margin-bottom: 10px;
}
.author {
margin-top: 0px;
margin-bottom: 10px;
}

#sub-comment {
margin-left: 40px;
}
h3{
    color: rgb(95, 15, 42); 
    margin-left: 10px;
}